{% load static %}
<div class="main-wrapper">
    {% include 'recetas/navbar.html' %}
    <section id="billboard">
        <div class="container text-center">
            <div class="text-content heading text-center light">
                <h1 class="section-title"><strong>Bienvenidos a</strong>recetapp</h1>
                <div class="divider">
                    <div class="icon-wrap">
                        <i class="icon icon-spoon"></i>
                    </div>
                </div>
                <div class="slogan mb-5">la mejor aplicación de recetas de cocina</div>
            </div>
        </div><!----billboard-content----->
    </section>
</div>